Package: com.sharedroutine.nuntius
Name: Nuntius
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: WhatsApp QR and more...
Maintainer: sharedRoutine
Author: sharedRoutine
Section: Tweaks
